<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawer</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <div id="drawer" class="drawer">
        <div class="drawer-header">
            <h2>Profil</h2>
            <button id="closeDrawer" class="close-btn"> &times;</button>
        </div>
        <ul class="drawer-menu">
            <li><a href="#">Hesabım</a></li>
            <li><a href="#">Favorilerim</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış</a></li>



        </ul>
    </div>
    <div id="overlay" class="overlay"></div>

    
</body>
</html>