<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawer</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<!-- Tek buton (başlangıçta Menü) -->
<button id="toggleDrawer" class="open-btn">☰ Menü</button>

<!-- Drawer -->
<div id="drawer" class="drawer">
    <div class="drawer-header">
        <h2>Profil</h2>
    </div>
    <ul class="drawer-menu">
        <li><a href="#">Hesabım</a></li>
        <li><a href="#">Favorilerim</a></li>
        <li><a href="#">Ayarlar</a></li>
        <li><a href="#">Çıkış</a></li>
    </ul>
</div>

<script src="../js/drawer.js"></script>


    
</body>
</html>