<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="/css/style.css"/>
    

</head>
<body>
    <div class="slider-container">
  <h3>Popüler Filmler</h3>
  <div class="slider" id="movieSlider">
    <!-- JS ile filmler buraya eklenecek -->
  </div>

  <!-- Slider Kontrolleri -->
  <button class="slider-btn prev" id="prevBtn">&#10094;</button>
  <button class="slider-btn next" id="nextBtn">&#10095;</button>
</div>

<script type="module" src="../js/slider.js"></script>


    
    
</body>
</html>